# Node.js dependencies  
node_modules/  
npm-debug.log  
yarn.lock  
package-lock.json  

uploads/

# Environment variables  
.env  
.env.local  
.env.*  


# Build files  
dist/  
build/  
.cache/  




# Editor files  
.vscode/  
.idea/  
